.home-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-screen figure {
  height: 279px;
  width: 218px;
  margin-bottom: 8%;
}

.button-start {
  width: 345px;
  height: 72px;
  border: 3px solid #ffef61;
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-weight: 700;
  font-size: 20px;
}
.button-start img {
  padding-left: 10px;
}

.card {
  width: 392px;
  height: 575px;
  border-radius: 12px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);

  display: flex;
  flex-direction: column;

  align-items: center;
}

.top-bottom {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 45px;
  width: 90%;
  margin: 18px 0;
}

.top-bottom span {
  display: flex;
  justify-content: center;
  width: 100%;
}

.back-bottom {
  display: flex;
  column-gap: 16px;
  margin: 18px 0;
}

.back-bottom button {
  width: 65px;
  height: 48px;
  border-radius: 12px;
  font-size: 10px;
  background: transparent;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}
.new {
  border: 3px solid navy;
  box-shadow: 0px 8px 24px rgba(59, 42, 212, 0.12);
}

.fail {
  border: 3px solid red;
  box-shadow: 0px 8px 24px rgba(218, 17, 17, 0.12);
}

.sucess {
  border: 3px solid greenyellow;
  box-shadow: 0px 8px 24px rgba(19, 212, 28, 0.12);
}

.zap {
  border: 3px solid yellow;
  box-shadow: 0px 8px 24px rgba(230, 255, 2, 0.322);
}

.results {
  height: 100vh;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
}

.mainResult {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
}

body {
  font-family: "roboto";
  display: flex;
  justify-content: center;
  align-items: center;
}
